body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: linear-gradient(89deg , #0F80E7 0% , #43DFFF 90%);
  /* background: #A98668; */
  /* background: url("./img/showcase.jpg") no-repeat; */
}

